{% extends 'index.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<form method="post">
    <input type="text" name="name" placeholder="Имя">
    <input type="submit" value="Отправить">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</form>
{% endblock %}