<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>{{ title }}</title>
</head>
<body>
    <div class="display-3">
        {% if user %}
            <p>Вы вошли под именем {{ user }}</p>
        {% endif %}

        <p>К прочтению предлагается {{ number }}
            {% if number == 1 %}
                пост
            {% elif 2 <= number <= 4 %}
                поста
            {% else %}
                постов
            {% endif %}
        </p>
    </div>
</body>
</html>